*{
    margin :0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;;
}
.p-cont{
    height: 100%;
    width: 100%;
    background-color:rgb(7, 5, 131);
    padding: 5px;
}
.p-child-t{
    height: 10%;
    width: 100%;
    background-color:rgb(65, 64, 160);
    display: flex;
}
.p-child-t1{
    height: 100%;
    width: 33%;
    background-color:rgb(95, 93, 189);
    margin-right: 5px;
}
.p-child-t2{
    height: 100%;
    width: 33%;
    background-color:rgb(95, 93, 189);
    margin-right: 5px;
}
.p-child-t3{
    height: 100%;
    width: 33%;
    background-color:rgb(95, 93, 189);
    display: flex;
}
.p-child-b{
    height: 90%;
    width: 100%;
    background-color:rgb(52, 103, 157);
    margin-top: 5px;
    display: flex;
}
.p-child-bl{
    height: 100%;
    width: 50%;
    background-color:rgb(196, 195, 234);
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p-child-bl-box{
    height: 100px;
    width: 100px;
    background-color:rgb(143, 141, 227);
}
.p-child-br{
    height: 100%;
    width: 50%;
    background-color:rgb(65, 64, 160);
    display: flex;
    flex-direction: column;
}
.p-child-br1{
    height: 25%;
    width: 100%;
    background-color:rgb(128, 127, 198);
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
}
.p-child-br2{
    height: 25%;
    width: 100%;
    background-color:rgb(128, 127, 198);
    margin-bottom: 5px;
}
.p-child-br3{
    height: 25%;
    width: 100%;
    background-color:rgb(128, 127, 198);
    margin-bottom: 5px;
}
.p-child-br4{
    height: 25%;
    width: 100%;
    background-color:rgb(128, 127, 198);
}